version: '3'

services:
 nginx:
  image: nginx:latest
  ports:
   - "80:80"
  volumes:
   - ./nginx.conf:/etc/nginx/nginx.conf
  depends_on:
   -node.js

node-services:
  build: .
  ports:
   - "3000:3000"
  environment:
    - NODE_ENV=development
  depends_on:

    -mariadb


  db:
     image: postgres:latest
     environment:
      - POSTGRES_USER=pauly33
      - POSTGRES_PASSWORD=DaisyTulip1!
      - POSTGRES_DB=mariadb

  volumes:
    - ./data:/var/lib/postgresql/data