version: '3'

services:
 nginx:
  image: nginx:latest
  ports:
   - "80:80"
  volumes:
   - ./nginx.conf:/etc/nginx/nginx.conf
  depends_on:
   - node-services

  node-services:
  build: .
  ports:
   - "3000:3000"
   environment:
    - NODE_ENV=development
  depends_on:
   - node-services
    -db


  db:
     image: postgres:latest
     environment:
      - POSTGRES_USER: myuser
      - POSTGRES_PASSWORD: mypassword
      - POSTGRES_DB: mydatabase

  volumes:
    - ./data:/var/lib/postgresql/data