version: '3'

services:
  nginx:
    build: ./nginx
    image: nginximage 
    ports:
      - "8888:80"
    depends_on:
      - node_service

  node_service:
    build: ./api
    image: nodeimage
    ports:
      - "3000:3000"
    environment:
        MYSQL_USER: "${DB_USER}"
        MYSQL_PASSWORD: "${DB_PASSWORD}"
        MYSQL_DB: "${DB}"
    depends_on:
      - db 

  db:
    image: dbimage
    build: ./db/mariadb
    environment:
      MYSQL_USER: "${DB_USER}"
      MYSQL_PASSWORD: "${DB_PASSWORD}"
      MYSQL_DB: "${DB}"
      MARIADB_ROOT_PASSWORD: "${MARIADB_ROOT_PASSWORD}"
    volumes:
      - ./db/init/init.sql:/docker-entrypoint-initdb.d/init.sql
